body
{
  width: 100%;
  font-family: 'Lato', sans-serif;
  color:#ffffff;
  background-color: #333333;
  font-size: 25px;
}

#container
{
  margin-left: auto;
  margin-right: auto;
}

#logo
{
  border-radius: 6px 12px;
  background-color: #ffff00;
  color: #ff0000;
  width: 45%;
  text-align: center;
  font-size: 52px;
  float: left;
  text-decoration: underline;
  margin: 20px;
}

#clock
{
  width: 50%;
  text-align: center;
  margin: 20px;
  font-size:  52px;
  float: left;
}

#date
{
  width: 50%;
  float: left;
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#menu
{
  clear: both;
}

.option-menu
{
  border-radius: 6px 12px;
  height: 100px;
  width: 500px;
  text-align: center;
  background-color: #ff0000;
  margin: 60px;
  float: left;
}

.option-menu:hover
{
  background-color: #ee0000;
}

.option-menu-link
{

  text-decoration: none;
  display: block;
  height: 100px;
  width: 500px;
  border-radius: 6px 12px;
}

#content
{
  margin: 120px;
  clear: both;
}

#footer
{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

a:link
{
  color: #ffff00;
  text-decoration: none;
}

a:active
{
  color: #ffff00;
  text-decoration: none;
}

a:visited
{
  color: #ffff00;
  text-decoration: none;
}
