body
{
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  background-color: #222222;
}

#container
{

}

#logo
{
  width: 49%;
  text-align: left;
  margin-left: auto;
  font-size: 52px;
  float: left;
}

#clock
{
  width: 49%;
  text-align: right;
  margin-right: auto;
  font-size: 52px;
  float: left;
}

#menu
{
  clear: both;
}

#content
{
  clear: both;
}

#footer
{
  text-align: center;
}

.option-menu
{
  background-color: #111111;
  width: 10%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  float: left;
  border-style: solid;
}

.option-menu:hover
{
  text-align: center;
}

a:link
{
  decoration: none;
}

a:active
{
  decoration: none;
}

a:visited
{
  decoration: none;
}
